Estilos heredados de login.css para consistencia

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 360px; /* Ajustado para ser más compacto en el modal */
  width: 100%;
}

.logo {
  width: 50%;
  height: 40%;
  margin: 0 auto 20px;
}

.form-heading {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* .input-group {
  position: relative;
  margin-bottom: 25px;
  background-color: transparent;
  margin-top: 20px;
} */

.input-group label {
  position: absolute;
  top: -16px;
  left: 12px;
  font-size: 12px;
  color: #0197A6;
  font-weight: 600;
  transition: all 0.3s ease;
  opacity: 0.7;
}

.input-group input {
  width: 100%; /* Ajustado para encajar en el modal */
  padding: 15px 20px;
  font-size: 1rem;
  color: #333;
  background-color: #F8F3F7;
  border: 2px solid #828282;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s ease;
 
}

.input-group input:focus {
  border-color: #18417B;
  box-shadow: 0 0 10px rgba(88, 188, 130, 0.4);
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -20px;
  font-size: 11px;
  color: #0197A6;
  opacity: 1;
}

.submit_rst {
  width: 100%;
  padding: 15px;
  background-color: #0197A6;
  color: #F8F3F7;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submit_.submit_rst  {
  background-color: #0197A6;
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(88, 188, 130, 0.3);
}

.signup-link {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.signup-link a {
  color: #0197A6;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.signup-link a:hover {
  color: #0197A6;
}

.error-message {
  text-align: center;
  font-size: 14px;
  color: red;
  margin-bottom: 25px;
  background-color: #F8F3F7;
}

.text-center.space-y-4 p {
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}